In [1]:
import yfinance as yf
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings('ignore')

from AA import DataDownloader, AssetAllocation

In [2]:
downloader = DataDownloader()

assets = ['AAPL', 'IBM', 'TSLA', 'GOOG', 'NVDA'] 
benchmark = '^GSPC'  
start_date = '2019-01-01'
end_date = '2023-12-31'
rf = .065

asset_prices, benchmark_prices = downloader.download_data(start_date= start_date, end_date= end_date,
                                                          assets= assets, benchmark=benchmark)


# Default limits for every asset (min 1% - max 100%):  boounds = tuple((0.01, 1) for _ in range(self.num_assets))
Asset_allocation = AssetAllocation(asset_prices = asset_prices,benchmark_prices = benchmark_prices, rf=rf)

[*********************100%%**********************]  5 of 5 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
Asset_allocation.Optimize_Portfolio(n_simulations = 10000) #Default Method == "Montecarlo"

,AAPL,GOOG,IBM,NVDA,TSLA,Optimized Value
Max Sharpe,0.264839,0.018967,0.017075,0.452991,0.246129,0.079791
Max Omega,0.048841,0.053114,0.015187,0.871954,0.010903,1.271789
Min VaR (Empirical),0.059999,0.016059,0.011082,0.021809,0.891051,-0.055931
Min VaR (Parametric),0.098259,0.305627,0.562434,0.010009,0.023670,-0.024543
Semivariance,0.102268,0.286272,0.573728,0.011738,0.025994,0.000222

In [4]:
Asset_allocation.Optimize_Portfolio(method = "SLSQP")

,AAPL,GOOG,IBM,NVDA,TSLA,Optimized Value
Max Sharpe,0.221457,0.010000,0.010000,0.50168,0.256863,0.079996
Max Omega,0.010000,0.010000,0.010000,0.96000,0.010000,1.288639
Min VaR (Empirical),0.010000,0.010000,0.010000,0.38920,0.580800,-0.049680
Min VaR (Parametric),0.156482,0.217159,0.606359,0.01000,0.010000,-0.024424
Semivariance,0.200000,0.200000,0.200000,0.20000,0.200000,0.000401

In [5]:
Asset_allocation.Optimize_Portfolio(method = "Genetic", population_size=100, generations=200, crossover_rate=0.7, mutation_rate=0.1)

,AAPL,GOOG,IBM,NVDA,TSLA,Optimized Value
Max Sharpe,0.345246,0.041901,0.016886,0.350332,0.245635,0.078982
Max Omega,0.316924,0.025504,0.019317,0.389654,0.248601,1.199272
Min VaR (Empirical),0.054439,0.064237,0.010495,0.248077,0.622752,-0.049409
Min VaR (Parametric),0.419426,0.022504,0.462922,0.086388,0.008760,-0.023925
Semivariance,0.305828,0.005866,0.292625,0.151186,0.244496,0.000400

In [6]:
Asset_allocation.Optimize_Portfolio(method = "Gradient", learning_rate=0.01, max_iters=1000, tol=1e-6)

,AAPL,GOOG,IBM,NVDA,TSLA,Optimized Value
Max Sharpe,0.218456,0.079268,0.141724,0.316454,0.244097,0.077620
Max Omega,0.205361,0.189996,0.174981,0.229846,0.199815,1.137665
Min VaR (Empirical),0.199397,0.201444,0.199150,0.196247,0.203763,-0.035712
Min VaR (Parametric),0.255781,0.282329,0.441872,0.010009,0.010009,-0.022531
Semivariance,0.200001,0.200002,0.200005,0.199997,0.199995,0.000401

-----

-------

--------------

----------